@import "@fontsource/luckiest-guy";
@import "@fontsource/montserrat/400.css";

:root {
    --color-azul-medio: #004481;
    --color-azul-oscuro: #072146;
    --color-azul-claro: #1973b8;
    --color-celeste: #d4edfc;
    --size-imag: 700px;
    --header-height: 50px;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    margin: 0;
}