---
import MainHeader from "../components/MainHeader.astro";
import "../styles/global.css";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>¡Aquí Estoy!</title>
</head>
<MainHeader />

<div class="form-container">
  <h1>Formulario de búsqueda</h1>
  <p>Cuéntanos todos los detalles sobre tu familiar peludo ...</p>
  <form>
    <label for="name">Nombre:
      <input type="text" name="name" id="">
    </label>
    
        <label>Última vez visto </label>
        <label for="date"> Fecha:
          <input type="date" name="date">
        </label>
        <label for="time">Hora:
          <input type="text" placeholder="Ejemplo 00:00">
        </label>
        

    

    <label for="country">País:
      <input type="text" name="country">
    </label>
    

    <label for="city">Ciudad:
      <input type="text" name="city">
    </label>
    

    <label for="street">Calle:
      <input type="text" name="street">
    </label>
    
    
        <label class="contact-container">Contacto</label>
        <label for="number">Número:
          <input type="text" name="number">
        </label>
        
        <label for="email">Email:
          <input type="text" name="email">
        </label>
        

        <label for="description">Descripción:
          <input type="text" name="description">
        <p> Pequeña descripción sobre su compañera/o (datos que puedan distinguirle)</p>
        </label>

 
        <label for="file">Foto:
          <input type="file" name="file">
          <p>Asegúrese de que se le distinga
            lo mejor posible,</p>
         <p>una buena foto da más
           oportunidades de encontrarle</p>
        </label>

      
  </form>

  <p>*campo obligatorio</p>
  <button id="form-submit">Finalizar</button>
</div>
</div>

<style>
:root {
  background-color: var(--color-celeste);
}
.form-container {
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: white;
  width: 80%;
  height: 90%;
  padding: 1%;
  font-family: Montserrat, sans-serif;
  display : grid;
  justify-items: center;
  

form {
  display: grid;
  grid-template-columns: 400px;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  
  & label {
    display: inline-grid;
    margin-bottom: 1rem;
}

</style>