---
import MainHero from "../components/MainHero.astro"
import TestimonialsHero from "../components/TestimonialsHero.astro"
import InstructionsHero from "../components/InstructionsHero.astro"
import FooterHero from "../components/FooterHero.astro"
---
<style>
	body{margin:0;}
</style>

<body>

	<MainHero/>
	<InstructionsHero/>
	<TestimonialsHero/>
	<FooterHero/>

</body>
