---
/*SUPER IMPORTANTE PONER EN MAYUS LA PRIMERA LETRA DEL COMPONENTE*/
import LostCard from "../components/elements/LostCard.astro";
import lostAnimals from "../data/lostanimals.json";
import Layout from "../layouts/Layout.astro";
---
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Post - ¡Aquí Estoy!</title>
</head>
<div class="container-lostanimals">
  <Layout/>
  <h1>Mascotas que quieren volver a casa</h1>
  <select name="city" id="city">
    <!-- Pendiente de API-->
    <option value="laspalmas">Las Palmas de G.C.</option>
    <option value="telde">Telde</option>
    <option value="sanmateo">San Mateo</option>
    <option value="maspalomas">Maspalomas</option>
  </select>
  <div class="lost-animal-cards">
    
    {
      lostAnimals.map((animal) => (
        <LostCard lostanimal={animal} />
      ))
    }
  
  </div>
</div>