<div class="footer">
  <div class="footer-menu">
    <div class="social-networks"></div>
    <div class="about-us-section">
      <span class="about-us section-tittle">Sobre nosotros</span>
      <a class="who-are-we">¿Quiénes somos?</a>
      <a class="our-values">Nuestros valores</a>
    </div>
    <div class="more-info-section">
      <span class="more-info section-tittle">Más información</span>
      <a class="frequent-questions">Preguntas frecuentes</a>
    </div>
    <div class="help-section">
      <span class="help section-tittle">Ayuda</span>
      <a class="accesibility">Accesibilidad</a>
      <a class="privacy">Privacidad</a>
      <a class="contact">Contacto</a>
    </div>
  </div>
  <div class="footer-end-text">
    <p>Desarrollada con 🐾🩵 por el equipo de ¡Aquí Estoy! usando Astro</p>
  </div>
</div>

<style>
  /* Footer */
  .footer{
    background-color: var(--color-azul-oscuro);
    color:white;
    padding:20px;
  }
  .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    font-family: Montserrat, sans-serif;
    
  }

  .social-networks,
  .about-us-section,
  .more-info-section,
  .help-section {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-tittle,
  .section-tittle,
  .section-tittle {
    font-weight: bold;
    align-items: flex-start;
    padding-bottom: 32px;
  }

  .footer-end-text p {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    font-family: Montserrat, sans-serif;
    padding:60px 0 10px; 
  }
</style>
