---

import InstructionCard from "../components/elements/InstructionCard.astro";
import instructions from "../data/instructions.json";
import catPlaying from "../icons/catPlaying.svg?inline";
---

<div class="landing-page-2">
  <div class="title">
    <h2>¿Cómo funciona?</h2>
  </div>

  <div class="using-benefits-section">
    <div class="back-line"></div>
    <div class="card-container">
      {
        instructions.map((instruction) => (
          <InstructionCard instruction={instruction} />
        ))
      }
    </div>
  </div>

  <div class="explanation">
    <p>
      ¡Cada reencuentro cuenta! Da el primer paso para reunir a más mascotas con
      sus familias.
    </p>
  </div>

  <div class="call-to-action">
    <div class="call-to-action-text">
      <h2>¡Únete a la búsqueda!</h2>
    </div>
  </div>
</div>

<style>
  

.title {
  display : flex;
  justify-content: center;
  & h2 {
    margin : 45px 0 0px 0;
    font-family: "Luckiest Guy", cursive;
    font-size: 60px;
    font-style: normal;
    color: var(--color-azul-oscuro);
  }
  
}

  .using-benefits-section {
    position : relative;
    & .back-line {
    width: 100%;
    height: 12rem;
    background-color: var(--color-azul-oscuro);
    position : absolute;
    z-index: -1;
    top : 90px;
  }
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 0 30px 0;
  }

  .call-to-action {
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .call-to-action-text {
    display: flex;
    justify-content: center;
    background-color: var(--color-azul-medio);
    border-radius: 50px;
    width: 800px;
    margin-bottom: 50px;
  }

  .call-to-action-text h2 {
    font-family: "Luckiest Guy", cursive;
    font-size: 40px;
    color: var(--color-celeste);
    letter-spacing: 3px;
  }
  .explanation {
    display: flex;
    justify-content: center;
    font-size: 32px;
    & p {
      margin-top: 20px;
    }
  }
</style>
