---
import girlCatIcon from "../icons/girl_with_cat.svg?inline";
---

<style> 
.header {
    display: flex;
}
</style>

<nav class="header">
    <div class="web-tittle">AQUÍ ESTOY</div>
    <div class="web-tittle">AQUÍ ESTOY</div>
    <div class="web-tittle">AQUÍ ESTOY</div>
    <div class="web-tittle">AQUÍ ESTOY</div>
    <div class="web-tittle">AQUÍ ESTOY</div>
</nav>

<img src={girlCatIcon} alt="">
