---
---

<style> 
:root{
    --color-azul-medio: #004481;
    --color-azul-oscuro: #072146;
    --color-azul-claro: #1973b8;
    --color-celeste: #d4edfc;

}

.nav-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: var(--color-azul-oscuro);
    padding-left: 10px;
    
    
    
    & .header-left {
        display: flex;
        flex-direction: row;

        & p{
        /*color: var(--color-celeste)*/
        font-family: "Luckiest Guy", system-ui;
        }
        & a {
        align-items: center;
        display: flex;
        gap: 20px;
        text-decoration: none;
        }

        a:link, :visited, :hover, :active{
        color: var(--color-celeste)
    }
    }
    
    

    
    & .header-right {
        display: flex;
        /*flex-direction: row;*/
        align-items: center;
        justify-content: end;
    }
}

</style>
<div class="nav-container">
    <nav class="header-left">
        <p>AQUÍ ESTOY</p>
        <a href="index.html">Home</a>
        <a href="">En búsqueda</a>
        <a href="" >Encontrados</a>

        
        </nav>

    <nav class="header-right">
        <a href="" >About</a>
        <a href="" >Login</a>
        <a href="" >Registrarse</a>

    </nav>
    
    
</div>





