---
const { instruction } = Astro.props;

if (!instruction) {
  console.error("No se pasó la prop 'instruction' al componente.");
}
---

<div class="card">
  {
    instruction ? (
      <>
        <h2>{instruction.title}</h2>
        <p>{instruction.description}</p>
      </>
    ) : (
      <p>Sin datos disponibles.</p>
    )
  }
</div>
<style>
.card {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  height: 340px;
  width: 340px;
  overflow: hidden;
  border-radius: 50px;
  background-color: var(--color-azul-medio);
  justify-content: space-around;
  align-items: center;
  color: var(--color-celeste);
  text-align: center;
  padding: 5px;
}

.card h2 {
  font-size: 25px;
  margin: 45px 20px 10px 20px;
}

.card p {
  font-size: 18px;
  padding: 7px;
}

</style>