---
const { lostanimal } = Astro.props;

import PhoneIcon from "../../icons/PhoneIconPls.astro"

---

<div class="lostanimal-card">
    <div class="head-card">
        <h2>{lostanimal.nameAgePet}</h2>
        <PhoneIcon/>
    </div>
    <img src={lostanimal.profilePic} alt="">
    <div class="footer-card">
        <p>{lostanimal.lostAddress}</p>
    <p>{lostanimal.lastTimeSeen}</p>
    </div>
    
</div>

<style>
    .lostanimal-card{
        display : flex;
        flex-direction: column;
        width: 300px;
        height: 400px;
        background-color: var(--color-celeste);

        & .head-card {
            display : flex;
            justify-content: space-between;
            & 
        }
        & img {
            max-width: 200px;
            max-height: 300px;
        }

    }
</style>